<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" th:object="${account}" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="*{client.fio}"></span>
            </div>

            <div class="panel-body">

                <form action="#" th:action="@{/admin/clients}" method="GET" class="form-signin">
                    <button class="btn btn-md" type="Submit" style="width: 30%">Все клиенты</button>
                </form>

                <form action="#" th:action="@{/admin/admin}" method="POST" class="form-signin">
                    <br/>
                    <div>
                        <input type="email" th:name="email" placeholder="Email" style="width: 30%"
                               class="form-control"/>
                    </div>
                    <button class="btn btn-md" type="Submit" style="width: 30%">Посмотреть аккаунт</button>
                </form>

                <form th:action="@{/logout}" method="get">
                    <br/>
                    <button class="btn btn-md btn-danger btn-block" name="logout" style="width: 30%"
                            type="Submit">Выйти
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>
</body>
</html>