<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Clients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Все клиенты</span>
            </div>

            <div class="panel-body">

                <table width="70%">
                    <thead>
                    <tr th:align="center">
                        <th>Email</th>
                        <th>Имя</th>
                        <th>Баланс</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account : ${accounts}" th:height="40">
                        <td><span th:text="${account.client.email}"> Email </span></td>
                        <td><span th:text="${account.client.fio}"> Имя </span></td>
                        <td><span th:text="${account.sum}"> Баланс </span></td>
                        <td>
                            <div th:if="*{account.closed}">
                                <span style="color: red" th:text="Заблокирован"> Статус </span>
                            </div>
                            <div th:unless="*{account.closed}">
                                <span style="color: green" th:text="Активный"> Статус </span>
                            </div>
                        </td>
                        <td>
                            <form method="POST" th:action="@{/admin/clients}">
                                <input type="hidden" th:name="email" th:value="*{account.client.email}">
                                <button class="btn btn-md"
                                        type="Submit">Посмотреть
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>