<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" th:object="${account}" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="*{client.fio}"></span>
            </div>

            <div class="panel-body">

                <h3>Мой аккаунт</h3>

                <table width="100%" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="50%" valign="top">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div th:if="*{closed}">
                                            <span style="color: red">Счет заблокирован</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Номер счета: <span th:utext="*{number}"></span></td>
                                </tr>
                                <tr>
                                    <td> Баланс: <span th:utext="*{sum}"></span></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table width="100%">
                                <tr>
                                    <td bgcolor=#f0fff0>
                                        <div class="panel-body" th:unless="*{closed}">
                                            <h4>Пополнить</h4>
                                            <form th:action="@{/replenish-account}" method="POST">
                                                <input type="hidden" th:field="${account.number}">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="number" th:field="${emptyAccount.sum}"
                                                                   th:placeholder="Сумма"
                                                                   class="form-control"/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-md" type="Submit">Пополнить</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor=#f5f5f5>
                                        <div class="panel-body" th:unless="*{closed}">
                                            <h4>Снять</h4>
                                            <form th:action="@{/withdraw-money}" method="POST">
                                                <input type="hidden" th:field="${account.number}">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="number" th:field="${emptyAccount.sum}"
                                                                   th:placeholder="Сумма"
                                                                   class="form-control"/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-md" type="Submit">Снять</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor=#f0ffff>
                                        <div class="panel-body" th:unless="*{closed}">
                                            <h4>Перевести</h4>
                                            <form th:action="@{/transfer-money}" method="POST">
                                                <input type="hidden" th:field="${account.number}">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="email" th:field="${emptyAccount.client.email}"
                                                                   th:placeholder="Email"
                                                                   class="form-control"/>
                                                        </td>
                                                        <td>
                                                            <input type="number" th:field="${emptyAccount.sum}"
                                                                   th:placeholder="Сумма"
                                                                   class="form-control"/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-md" type="Submit">Перевести</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor=#ffeaf1>
                                        <div class="panel-body" th:unless="*{closed}">
                                            <h4>Заблокировать</h4>
                                            <form action="#" th:action="@{/close-account}" method="POST">
                                                <input type="hidden" th:field="${account.number}">
                                                <button class="btn btn-md btn-danger btn-block"
                                                        type="Submit">Заблокировать аккаунт
                                                </button>
                                            </form>
                                        </div>
                                        <div class="panel-body" th:if="*{closed}">
                                            <h4>Разблокировать</h4>
                                            <form action="#" th:action="@{/open-account}" method="POST">
                                                <input type="hidden" th:field="${account.number}">
                                                <button class="btn btn-md btn-success green btn-block"
                                                        type="Submit">Разблокировать аккаунт
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <form th:action="@{/logout}" method="get">
                    <br/>
                    <button class="btn btn-md btn-danger btn-block" name="logout" style="width: 20%"
                            type="Submit">Выйти
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>
</body>
</html>